
#calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid black;
}

#display {
    flex: 2 1 0;
    border: 1px solid black;
    border-radius: 8px;
}

#clear {
    flex: 1 1 0;
    border-radius: 8px;
}

#operand-operator {
    flex: 5 1 0;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

#operand-operator * {
    flex: 1 1 20%;
    border-radius: 8px;
}